.autocomplete-suggestions{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #999;background:#fff;cursor:default;overflow:auto}.autocomplete-suggestion{padding:2px 5px;white-space:nowrap;overflow:hidden}.autocomplete-no-suggestion{padding:2px 5px}.autocomplete-selected{background:#f0f0f0}.autocomplete-suggestions strong{font-weight:700;color:#000}.autocomplete-group{padding:2px 5px}.autocomplete-group strong{font-weight:700;font-size:16px;color:#000;display:block;border-bottom:1px solid #000}
/*
     FILE ARCHIVED ON 18:34:18 May 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:48:25 Apr 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 82.403
  exclusion.robots: 0.193
  exclusion.robots.policy: 0.177
  RedisCDXSource: 1.001
  esindex: 0.016
  LoadShardBlock: 55.764 (3)
  PetaboxLoader3.datanode: 67.812 (4)
  CDXLines.iter: 21.873 (3)
  load_resource: 76.555
  PetaboxLoader3.resolve: 51.897
*/