.uhc-config-item,.uhc-game-item{padding:1rem 0;border-top:1px solid rgba(0,0,0,.1)}.uhc-config-item:target,.uhc-game-item:target{background-color:#fdead6}
/*
     FILE ARCHIVED ON 18:34:18 May 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:48:25 Apr 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 102.097
  exclusion.robots: 0.108
  exclusion.robots.policy: 0.1
  RedisCDXSource: 0.646
  esindex: 0.007
  LoadShardBlock: 84.527 (3)
  PetaboxLoader3.datanode: 60.646 (4)
  CDXLines.iter: 14.655 (3)
  load_resource: 45.933
  PetaboxLoader3.resolve: 29.041
*/